# https://git-scm.com/docs/git-config
[user]
	name = Achraf EL Khnissi
	email = achraf.elkhnissi@gmail.com
	username = achrafelkhnissi
[core]
    editor = vim
    whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
    excludesfile = ~/.gitignore
[pull]
	rebase = false
[alias]
    c = commit
    ca = commit -a
    cm = commit -m
    cam = commit -am
